html {
	margin: 0;
	padding: 0;
	background: url("../images/blue_background_tile.png") repeat;
}

body {
	margin: 0;
	padding: 0;
	background: url("../images/header_bg.png") repeat-x;
}

div {
	padding: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table tr th {
	background: #3264A2;
	color: #FFF;
	border: 1px solid #6E9FDA;
	padding: 0.25em;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
	position: relative;
}

#header {
	height: 60px;	
	width: 100%;
	color: #FFF;
	padding: 0px 0px;
	position: relative;
}

#page_title {
	font-family: Times New Roman;
	font-size: 10pt;
	position: absolute;
	left: 172px;
	top: 0px;
}

#container {
	position: relative;
	top: -16px;
	//left: 0px;
	//background: #3264A2;
	padding-right: 10px;
}

#footer {
	clear: both;
	width: 100%;
}

#content {
	position: relative;
	top: 10px;
	min-height: 560px;
	margin-left: 170px;
	width: 770px;
	padding: 10px;
	margin-top: 10px;
	border: 1px solid black;
	background: #FFF;
	box-shadow: 4px 4px 4px #333;
	-moz-box-shadow: 4px 4px 4px #333;
	-webkit-box-shadow: 4px 4px 4px #333;
}

#content a.command {
	display: block;
	width: 90px;
	height: 21px;
	padding: 1px 5px;
	text-align: center;
	background: url("../images/button.png");
	color: #F88C63;
	text-decoration: none;
	float: left;
	font-weight: bold;
	margin-right: 1em;
}

#content a.command:hover {
	background: url("../images/button_hover.png");
	color: #FFF;
}

#logo_header {
	position: absolute;
	top: 7px;
	left: 0px;
}

#info_box_header {
	float: right;
	margin-top: 15px;
	background: url("../images/info_box.png") no-repeat;
	width: 154px;
	height: 23px;
	padding: 3px 10px;
}

#info_box_header a {
	color: #FFF;
	text-decoration: none;
}


#sidebar_wrapper {
	float: left;
	width: 167px;	
	padding: 0;
}

#sidebar {
	width: 155px;
	min-height: 300px;
	background: url("../images/sidebar_background.png") repeat-y;	
	padding: 1em 6px;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	margin-bottom: 0.5em;
	width: 134px;
	height: 26px;
	padding: 0px 7px;
}

#sidebar ul li.selected {
	background: url("../images/sidebar_item_selected.png") no-repeat;
}

#sidebar ul li:hover {
	background: url("../images/sidebar_item_hover.png") no-repeat;
}

#sidebar ul li.selected a {
	color: #F88C63;
}

#sidebar ul li:hover a {
	color: #FFF;
}

#sidebar ul li a {
	color: #5D9BE8;
	font-family: Georgia;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

#sidebar_footer {
	width: 167px;
}

#flash_notice {
	background: #a2f295;
	border: 1px solid #1fdb00;
	padding: 0.5em;
	margin: 0.25em 0em;
}

#flash_error {
	background: #f2a295;
	border: 1px solid #db1F00;
	padding: 0.5em;
	margin: 0.25em 0em;
}

#errorExplanation {
	border: 2px solid #B00;
}

#errorExplanation h2 {
	padding: 0.25em;
	margin-top: 0;
	background: #B00;
	color: #FFF;
	font-size: 14pt;
}

#errorExplanation p {
	padding: 1em;
	padding-top: 0;
}