html {
	margin: 0;
	padding: 0;
	background: url("../images/black_woven_seamless_tile.jpg") repeat;
	background: #FFF;
}

body {
	margin: 0;
	padding: 0;
	background: url("../images/header_bg.png") repeat-x;
}

h1 {
	margin-top: 0;
	padding-top: 0;
}

div {
	padding: 0;
}

label {
	font-weight: bold;
}

table {
	width: 100%;
	border-collapse: collapse;
}

fieldset {
	background: #FFF;
}

legend {
	font-weight: bold;
}

table tr th {
	background: #2B5588;
	color: #FFF;
	border: 1px solid #6E9FDA;
	padding: 0.25em;
}

#wrapper {
	width: 960px;
	margin: 0px auto;
}

#header {
	height: 90px;	
	width: 100%;
	color: #FFF;
	padding: 0px;
}

#page_title {
	font-family: Times New Roman;
	font-size: 10pt;
}

#page_header_wrapper {
	position: relative;
	margin-left: 165px;
	top: 23px;
	overflow: hidden;
	height: 33px;
	padding: 10px 10px;
	/*border: 7px solid #2B5588;
	border-bottom: 0px;
	box-shadow: 2px 0px 2px #333;
	-moz-box-shadow: 2px 0px 2px #333;
	background: 	#2B5588;*/
}

#container {
	position: relative;
	top: -7px;
}

#footer {
	clear: both;
	width: 100%;
	text-align: center;
	color: #AAA;
	padding: 2em 0 6em 0;
}

#content {
	position: relative;
	min-height: 560px;
	margin-left: 175px;
	width: 731px;
	padding: 10px 20px;
	/*border: 7px solid #2B5588;
	border-top: 0;
	background: #FFF;
	box-shadow: 4px 4px 4px #333;
	-moz-box-shadow: 4px 4px 4px #333;
	-webkit-box-shadow: 4px 4px 4px #333;*/
	border-right: 3px solid #2B5588;
	border-top: 10px solid #2B5588;
	border-left: 1px solid #2B5588;
	border-bottom: 1px solid #2B5588;
	margin-top: 15px;
}

input.command {
	width: 100px;
	height: 23px;
	background: url("../images/button.png");
	color: #F88C63;
	float: left;
	font-weight: bold;
	margin-right: 1em;
	border: 0px solid black;
	font-family: Georgia;
	font-size: 10pt;
}

#content a.command {
	display: block;
	width: 90px;
	height: 15px;
	padding: 4px 5px;
	text-align: center;
	background: url("../images/button.png");
	color: #F88C63;
	text-decoration: none;
	float: left;
	font-weight: bold;
	margin-right: 1em;
	font-family: Georgia;
	font-size: 10pt;
}

#content a.command:hover, input.command:hover {
	background: url("../images/button_hover.png");
	color: #FFF;
}

#logo_header {
	position: relative;
	top: 35px;
	float: left;
}

#info_box_header {
	float: right;
	background: url("../images/info_box.png") no-repeat;
	width: 154px;
	height: 23px;
	padding: 3px 10px;
}

#info_box_header a {
	color: #FFF;
	text-decoration: none;
}


#sidebar_wrapper {
	float: left;
	width: 167px;	
	padding: 0;
	margin-top: -15px;
}

#sidebar {
	width: 157px;
	min-height: 300px;
	background: url("../images/sidebar_background_new.png") repeat-y;	
	padding: 1em 5px;
}

#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li {
	width: 136px;
	height: 24px;
	padding: 8px 8px;
}

#sidebar ul li.selected {
	background: url("../images/sidebar_item_selected_new.png") no-repeat;
	background: #2B5588;
}

#sidebar ul li:hover {
	background: url("../images/sidebar_item_hover_new.png") no-repeat;
	background: #0D6CDF;
}

#sidebar ul li.selected a {
	color: #F88C63;
}

#sidebar ul li:hover a {
	color: #FFF;
}

#sidebar ul li a {
	color: #5D9BE8;
	font-family: Georgia;
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
}

#sidebar_footer {
	width: 167px;
}

#sidebar_footer img {
}

#sidebar_footer_content{
	margin: 0;
	margin-top: -5px;
	padding: 1em;
	width: 160px;
	margin-left: 6px;
	background: url("../images/sidebar_footer_bg.png") repeat-y;
}

#sidebar_footer_content a {
	color: #FFF;
}

#sidebar_footer_content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#report_preview {
	border: 1px solid #CCC;
	padding: 5px;
	background: #F6F6F6;
	overflow: auto;	
}

#flash_notice {
	background: #a2f295;
	border: 1px solid #1fdb00;
	padding: 0.5em;
	margin: 0.25em 0em;
}

#flash_error {
	background: #f2a295;
	border: 1px solid #db1F00;
	padding: 0.5em;
	margin: 0.25em 0em;
}

#errorExplanation {
	border: 2px solid #B00;
}

#errorExplanation h2 {
	padding: 0.25em;
	margin-top: 0;
	background: #B00;
	color: #FFF;
	font-size: 14pt;
}

#errorExplanation p {
	padding: 1em;
	padding-top: 0;
}