<% title "EDIT USER - #{@user.username}" %>
<%= set_menu_item((current_user==@user ? "account_link" : "staffing_link")) %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Cancel", @user, :class => "command" %>
</p>
