<% title "Edit Report" %>
<%= set_menu_item("reports_link") %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Cancel", organization_report_path(@report.organization, @report), :class => "command" %>
</p>
